---
import "../main.css";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const image = Astro.url.origin?.toString() + `/letters-code-og.png`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta name="twitter:creator" content="@idioticdev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=lora:400|playfair-display-sc:900"
      rel="stylesheet"
    />
    <script
      defer
      data-domain="letters.idiotic.dev"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body>
    <main class="container">
      <slot />
      <footer>
        <p>
          ❡ Dictated but not read by
          <a href="https://twitter.com/idioticdev">@idioticdev</a>
        </p>
      </footer>
    </main>
  </body>
</html>
